### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log
/logs/
/*.log

### Temporary files ###
*.tmp
*.temp
*.swp

### Keys ###
/src/key.txt

### Build ###
/build/
/target/

### Operating System ###
Thumbs.db
desktop.ini
